@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Slick {
  font-family: sans-serif;
  padding: 10px 30px;
}

.Slick > div {
  background-color: #5c2e91;
  background-color: #fff;
  color: #fff;
  color: #3498db;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  color: #881798;
}

.slick-prev:before,
.slick-next:before {
  color: #881798;
}
